<html>
  <head>
    <title> azk Demo </title>
  </head>
  <body>
    <div style="width: 800px; margin:auto;">
      <div style="position:relative;float:left;">
        <center>
          <img width="316" height="313" src="/public/logo.png" />
          <h1>hello! this file is syncing :)</h1>
          <h2>instance id: <%= azk_uid %></h2>
          <h2> this page was been visited <%= counter %> times </h3>
        </center>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  </body>
</html>
